.selectpicker {
  form {
    &.open {
      .dropdown-menu {
        width: 100% !important;
        display: block;
        background-color: whitesmoke;
        border: 1px solid grey;

        .dropdown-item {
          cursor: pointer;
        }
      }
    }
  }
}