<toaster-container></toaster-container>

<nav *ngIf="showNav" class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <!-- <img src="assets/img/logo.png"> -->
    </a>
  </div>
  <div class="navbar-menu">
    <a routerLink="/" class="navbar-item">
      Dashboard
    </a>
    <a routerLink="/projects" class="navbar-item">
      Projects
    </a>
    <a routerLink="/clients" class="navbar-item">
      Clients
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>